@model kakoyzheyadebil.Domain.РябСотрудники

@{
    ViewData["Title"] = "Details";
    Layout = "Crasota";
}

<h1>Details</h1>

<div>
    <h4>РябСотрудники</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябФамилия)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябФамилия)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябИмя)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябИмя)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябОтчество)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябОтчество)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябАдрес)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябАдрес)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябТелефон)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябТелефон)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябАдресШифр)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябАдресШифр)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.РябIdДолжностиNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.РябIdДолжностиNavigation.РябIdДолжности)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.РябIdСотрудника">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
