@model IEnumerable<kakoyzheyadebil.Domain.Report>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InspectorInformation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreInspector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InspectorInformation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreInspector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id.IdOperator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNavigation.IdOperator)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
